name: Phase 3 - CD Deploy

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  call-deployment-template:
    uses: nelsong6/pipeline-templates/.github/workflows/full-stack-deploy-template.yml@main
    with:
      target_sha: ${{ inputs.commit_sha }}
    secrets: inherit
